.telo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list-of-characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.item {
    text-align: center;
    max-width: 250px;
    background-color: #7c98a3;
    border: 1px solid black;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item span {
    font-weight: bold;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}