
body {
    background-color: #afc2c3;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    flex: auto;
    width: 100%;
    max-width: 800px; /* Zväčšená šírka z 400px na 800px */
    margin: 0 auto;
}


.header-text h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
}


textarea.form-control {
    min-height: 120px;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 12px 30px;
    font-size: 16px;
}