.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 20px;
}

.character-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout: auto;
    word-wrap: break-word;
}

.character-table th, .character-table td {
    padding: 12px;
    text-align: center;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.character-table td.character-description {
    white-space: normal;
    word-wrap: break-word;
    max-width: 300px;
}
